.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.square {
  width: 5vh;
  height: 5vh;
  /* border-style: solid;
  border-width: thin;
  border-color: black; */
  border-radius: 1vh;
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
