.background {
    background-color: #494949;
    height: 30vh;
    width: 30vh;
    margin: 15vh;
    border-radius: 5vh;
    box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player {
    margin-top: 10%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    background-color: #3f97d1;
    color: #faf6f6;
    border-radius: 5vh;
}

.icon {
    background-color: #faf6f6;
    border-radius: 50%;
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.score {
    margin-top: 10%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    color: #faf6f6;
}